@{
    ViewData["Title"] = "Casa de Cambio";
}

<h2>Conversión de Moneda</h2>

<form asp-controller="Home" asp-action="ResultadoCambio" method="post">
    <label>Moneda de Origen:</label>
    <select name="origen" required>
        <option value="BRL">Real Brasileño (BRL)</option>
    </select>

    <label>Moneda de Destino:</label>
    <select name="destino" required>
        <option value="PEN">Sol Peruano (PEN)</option>
    </select>

    <label>Cantidad:</label>
    <input type="number" name="cantidad" required />

    <br /><br />
    <button type="submit">Hacer Cambio</button>
</form>

